$primaryColor: rgba(255, 129, 19, 255);
$secondaryColor: rgba(180, 196, 0, 255);
$tertiaryColor: rgba(200, 200, 200, 1);

$grey: rgba(235, 235, 235, 1);
$greyBG: rgba(245, 245, 245, 1);
$darkGrey: rgba(131, 131, 131, 1);
$darkGreyhover: rgba(131, 131, 131, 0.5);
$black: rgba(0, 0, 0, 0.9);
