$baseThumb: 44px;
$maxPageWidth: 1920px;

$standardElementMargin: $baseThumb * 0.25 0;
$standardPadding: 0 $baseThumb * 0.5;

$standardAnimationDuration: 0.5s;
$standardBorderRadius: 10px;

$tableBorder: 1px solid $grey;
$tableBorderDark: 1px solid $darkGreyhover;
$tableBorderActiveDay: 2px solid $primaryColor;



